@*@model Actor

@{
    ViewData["Title"] = "Add a new actor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New Actor</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                   @* <div class="form-group text-center">
                        <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                     
                        
                        <label asp-for="ProfilePictureURL" class="control-label"></label>
                        <input asp-for="ProfilePictureURL" accept="image/*" class="form-control" />
                        <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bio" class="control-label"></label>
                        <input asp-for="Bio" class="form-control" />
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        })
        $("#ProfilePictureURL").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}*@
@model Actor
@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-header">
        <h3 class="text-uppercase">new spkeaker</h3>
    </div>
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Bio" class="control-label"></label>
                            <input asp-for="Bio" class="form-control" />
                            <span asp-validation-for="Bio" class="text-danger"></span>
                        </div>
                    </div>
                <div class="col-md-6">
                    
                </div>
            </div>
                <dl>
                    <dt>
                        <label asp-for="ActorPicture"></label>
                    </dt>
                    <dd>
                        <input asp-for="ActorPicture" type="file">
                        <span asp-validation-for="ActorPicture"></span>
                    </dd>
                </dl>
                
            
            <div class="form-group">
                    <input asp-page-handler="Upload" type="submit" value="Create" class="btn btn-sm btn-primary rounded-0" />
                <a asp-action="Index" class="btn btn-sm btn-primary rounded-0">Back to List</a>
            </div>
        </form>
    </div>
</div>
@*@<div>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div><input type="hidden" asp-for="Id" />
        <div>
            <h4><strong>Member Details</strong> </h4>

            <table class="table table-sm table-bordered table-striped">

                <tr>
                    <th> <label asp-for="FullName"></label></th>
                    <td> <input asp-for="FullName" class="form-control" placeholder="Fullname" /><span asp-validation-for="FullName"></span></td>
                </tr>

                <tr>
                    <th> <label asp-for="Bio"></label></th>
                    <td> <input asp-for="Bio" class="form-control" placeholder="Enter member name" /><span asp-validation-for="Bio"></span></td>
                </tr>
                
                <tr>
                    <th> <label asp-for="ProfilePicture "></label></th>
                    <td>
                        <strong>Upload New File</strong> <div id="chooseFile"><input type="file" name="photo" accept="image/*" /></div>

                    </td>
                </tr>
                <tr>
                    <th>  <button type="submit" class="btn btn-primary" style="width:107px">Save Info</button></th>
                    <td> </td>
                </tr>
                <tr>
                    <th>@Html.ActionLink("Back To List", "Index", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-success" })</th>
                    <td> </td>
                </tr>
            </table>
        </div>
    </form>

</div>*@